.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 64px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.image {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 4em;
}
